.circle {
  width: 94px;
  height: 94px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  font-size: 1.25rem;
  font-weight: bold;
  color: white;
  position: relative;
  z-index: 10;
}

/* Card styles */
.card {
  background: var(--backGround_primary);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  border-radius: 0.75rem;
  padding: 0.75rem;
  border: 1px solid #e5e7eb;
  transition: all 0.3s ease;
  text-align: center;
}

.card:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}
