@import "tailwindcss";


:root {
  --body_Color: #11224c;
  --body_Header : #0f4b5d;
  --button_Primary : #50c4b0;  
  --body_Header_hover : #083340;
  --button_Primary_hover : #24e9c8;
  --backGround_primary : #ffffff;
  --darkgrey : #2f3232;
  --lightgrey : #aeb1b1;


}

*{
  box-sizing: border-box;
  font-family: Calibri !important;
}

body{
    padding: 0;
    margin: 0;
}

body::-webkit-scrollbar{
  height: 2px; 
  width: 5px; 
}
 
body::-webkit-scrollbar-track{
  background-color: white; 
}
 
body::-webkit-scrollbar-thumb{
  background-color:var(--body_Color); 
}


/* Add to global CSS file */
@keyframes mobilePulse {
  0% { transform: scale(0.96); opacity: 0.88; }
  50% { transform: scale(1.06); opacity: 1; }
  100% { transform: scale(1); opacity: 0.92; }
}

/* utility class to apply the animation */
.mobile-pulse {
  animation: mobilePulse 1.4s ease-in-out infinite;
}