/* alert.css */
@layer utilities {
  /* .toastShow {
    @apply animate-toast-in;
  }

  .toastHide {
    @apply animate-toast-out;
  } */

  @keyframes toast-in {
    from {
      opacity: 0;
      transform: translateY(-1rem);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes toast-out {
    from {
      opacity: 1;
      transform: translateY(0);
    }
    to {
      opacity: 0;
      transform: translateY(-1rem);
    }
  }

  .animate-toast-in {
    animation: toast-in 0.4s ease-out forwards;
  }

  .animate-toast-out {
    animation: toast-out 0.4s ease-in forwards;
  }
}
